body {
    background-color: #E4E6EB;
    font-family: 'Assistant', sans-serif;
    color: #071C4D;
}

.navbar-brand {
    img {
        max-height: 40px;
    }
}

.navbar-light {
    .navbar-nav {
        .nav-link {
            color: #071C4D;

            &.active {
                font-weight: bold;
                color: #071C4D !important;
            }
        }
    }
}

.btn-navbar-right {
    margin-top: -10px !important;
    margin-bottom: -8px !important;
    margin-right: -18px !important;

    height: 70px;
    border-radius: 0;
}

.btn-login {
    background-color: #071C4D;
    color: #ffffff;

    &:hover {
        background-color: #1E3771;
        color: #fff;
    }
}

//Header

header {
    padding: 195px 0px 165px;
    margin-top: -70px;

    background-image: url('../images/header.jpg');
    background-size: cover;

    h1,
    p {
        color: #fff;
    }

    h1 {
        font-family: 'Playfair Display', serif;
        font-weight: bold;

        font-size: 50px;
    }

    p {
        font-family: 'Assistant', serif;
        font-size: 22px;
    }

    .btn-get-started {
        background-color: #FF9E53;
        color: #fff;

        &:hover {
            background-color: #ffbb88;
            color: #fff;
        }
    }
}

.section-stats {
    margin-top: -50px;

    .stats-detail {
        padding-top: 20px;
        background-color: #fff;
        padding-left: 50px;
        height: 100px;
    }

    h2 {
        font-size: 30px;
        margin-bottom: 0;
    }

    p {
        font-size: 20px;
        font-weight: lighter;
    }

}

.section-popular {
    background-color: #051334;

    min-height: 540px;
    margin-top: -50px;
    margin-bottom: -200px;

    .section-popular-heading {
        margin-top: 160px;

        h2,
        p {
            color: #fff;
        }

        h2 {
            font-family: 'Playfair Display', serif;
            font-size: 40px;
            font-weight: bold;
        }

        p {
            font-size: 18px;
        }

    }
}

.section-popular-content {
    .section-popular-travel {

        .card-travel {
            min-height: 380px;
            padding: 30px;
            background-color: #ddd;
            background-size: cover;
            color: #fff;
            margin-bottom: 20px;

            .travel-country {
                color: #fff;
                font-size: 18px;
            }

            .travel-location {
                color: #fff;
                font-size: 26px;
            }

            .travel-button {
                .btn-travel-details {
                    color: #fff;
                    font-size: 20px;
                    background-color: #FF9E53;

                    &:hover {
                        color: #fff;
                        background-color: #ffbb88;
                    }
                }
            }
        }
    }

}

.section-networks{
    background-color: #fff;
    margin-top: -200px;
    padding-top: 280px;

    padding-bottom: 50px;

    h2{
        font-family: 'Playfair Display', serif;
        font-weight: bold;
    }

    img{
        max-width: 100%;
    }
}